[flake8]
exclude = alembic/*
max-line-length = 100
ignore = E,W,B008
type-checking-exempt-modules = from sqlalchemy.orm
per-file-ignores =
    app/controllers/*:TC002,TC003
    app/lib/health.py:TC002
    app/lib/users/controllers.py:TC002,TC003
    tests/*:SCS108
    tests/integration/test_tests.py:TC002,SCS108
